*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  font-family: Audiowide, 'Source Sans Pro';

}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

main{
max-width:900px;
min-height: 100vh;
position: relative;
height: auto;
}
main img {
width: 100%;
}
section{
position:absolute;
top: 0;
min-height: 100vh;
width: 100%;
padding-top: 65%;
}
.section_0{
border: solid 0.3rem #ffffff;
background-color: #000000;
border-radius: 0.8rem 0.8rem 0 0;
color: #ffffff;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
padding-top: 3.5rem;
}

.section_1_circle{
background-color: red;
border-radius: 50%;
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}
.section_1_circle_image{
width: 3.514rem;
height: 4rem;
vertical-align: top;
}
.section_2{
padding-top: 1.4rem;
font-size: 1.3rem;
font-weight: 400;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 1.7rem;
line-height: 3rem;
padding-left: 2rem;
padding-right: 2rem;
}
.section_2 h1{
letter-spacing: 1.4px;
}
p{
max-width: 38.4rem;
text-align: center;
font-size: 1.7rem;
font-weight: 400;
color: rgba(217, 217, 217, 0.8999999762);
line-height: 1.5;
padding-left: 2rem;
padding-right: 2rem;
padding-top: .6rem;    
padding-bottom: 2rem;
}
button{
    border: none;
    font-family: Aldrich, 'Source Sans Pro'; 
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 7rem);
    height: 5.6rem;
    margin: 2rem 0.4rem 2.8rem 0.4rem;
    letter-spacing: -0.001rem;
    border-radius: 0.8rem;
    transition: all 1s;
}
.BUTTON_1{
    color: #ffffff;
    background-color: #ff0000;
    transition: all 0.1s;
}
.BUTTON_1:hover{

    border-radius: 50px;
    
    }
    .BUTTON_1:active{
padding-left: 250px;
padding-right: 250px;
        border-radius: 50px;
        background-color: rgb(255, 255, 255);
        color: #000000;
    }
    
.BUTTON_2{
    transition: all 0.2s;
    color: #000000;
    background-color: #ffc600;
}

.BUTTON_2:hover{

    border-radius: 50px;
        background-color: #005dd0;
    }

    .BUTTON_2:active{
margin-right: 100px;
        border-radius: 50px;
        background-color: #ff0000;
    }
    